# BasedOnStyle can be LLVM, Google, Chromium, Mozilla, WebKit
BasedOnStyle: Google

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Allman

# Pointer/reference alignment
PointerAlignment: Left

# Max line length
ColumnLimit: 100

# Other modern options
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true